<header class="header">
    <h1>Service Booking System</h1>
</header>

<div class="login-container">
    <div class="login-form">
        <h2>Login</h2>
        <div class="input-group">
           
            <input type="text" id="username" class="rounded-input" placeholder="Enter your username">
        </div>
        <div class="input-group">
           
            <input type="password" id="password" class="rounded-input" placeholder="Enter your password">
        </div>
        <button routerLink="login" class="btn btn-login">Login</button>
    </div>
    <div class="OR">
        <label>OR</label>
    </div>
    <div class="signup-button">
        <button routerLink="signup" class="btn btn-signup">Sign Up</button>
    </div>
</div>
